<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.dvp.base.fenwu.developframework"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.SecondActivity"
            android:process=":process">
        </activity>
        <activity android:name=".ui.activity.ListActivity">
        </activity>
        <activity android:name=".constraintLayoutModule.Test1Activity">
        </activity>
        <activity android:name=".rxjavaModule.RxjavaTest1Activity">
        </activity>
        <activity android:name=".design.DecoratorPattern.Design1Activity">
        </activity>
        <activity android:name=".fragmentmodule.MultiFragmentActivity">
        </activity>
        <activity android:name=".downloadModule.DownLoadManagerActivity">
        </activity>
        <activity android:name=".fragmentmodule.HomeActivity">
        </activity>
        <activity android:name=".aopModule.AopActivity">
        </activity>
        <activity android:name=".alarmModule.AlarmActivity">
        </activity>

        <receiver
            android:name=".alarmModule.MyAlarmReceiver"
            android:enabled="true"
            android:exported="true">
        </receiver>

        <service
            android:name=".alarmModule.GetMeiTianBanCiIntentService"
            android:exported="false">
        </service>
    </application>

</manifest>